<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RhythmMonopoly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RhythmMonopoly.Properties.Settings>
            <setting name="BotCategory01" serializeAs="String">
                <value> 에 수록된 곡</value>
            </setting>
            <setting name="BotCategory02" serializeAs="String">
                <value> 에 수록된 콜라보 노래</value>
            </setting>
            <setting name="BotCategory03" serializeAs="String">
                <value> 분위기 노래</value>
            </setting>
            <setting name="dummycontent5_1" serializeAs="String">
                <value>귀여운 </value>
            </setting>
            <setting name="dummycontent5_2" serializeAs="String">
                <value>웅장한 </value>
            </setting>
            <setting name="dummycontent5_3" serializeAs="String">
                <value>빠른 </value>
            </setting>
            <setting name="dummycontent5_4" serializeAs="String">
                <value>무서운 </value>
            </setting>
            <setting name="dummycontent5_5" serializeAs="String">
                <value>초고속 </value>
            </setting>
            <setting name="dummycontent4_1" serializeAs="String">
                <value>댕댕이</value>
            </setting>
            <setting name="dummycontent4_2" serializeAs="String">
                <value>식물</value>
            </setting>
            <setting name="dummycontent4_3" serializeAs="String">
                <value>보석</value>
            </setting>
            <setting name="dummycontent4_4" serializeAs="String">
                <value>곤충</value>
            </setting>
            <setting name="dummycontent4_5" serializeAs="String">
                <value>사람</value>
            </setting>
            <setting name="dummycontent6_1" serializeAs="String">
                <value>영어</value>
            </setting>
            <setting name="dummycontent6_2" serializeAs="String">
                <value>일본어</value>
            </setting>
            <setting name="dummycontent6_3" serializeAs="String">
                <value>한국어</value>
            </setting>
            <setting name="dummycontent1_1" serializeAs="String">
                <value>ARCAEA</value>
            </setting>
            <setting name="dummycontent1_2" serializeAs="String">
                <value>디제이맥스</value>
            </setting>
            <setting name="dummycontent1_3" serializeAs="String">
                <value>벨루시티</value>
            </setting>
            <setting name="dummycontent2_1" serializeAs="String">
                <value>이지투온</value>
            </setting>
            <setting name="dummycontent2_2" serializeAs="String">
                <value>그루브 코스터</value>
            </setting>
            <setting name="dummycontent2_3" serializeAs="String">
                <value>뮤즈대쉬</value>
            </setting>
            <setting name="dummycontent2_4" serializeAs="String">
                <value>BMS</value>
            </setting>
            <setting name="dummycontent3_1" serializeAs="String">
                <value>즐거운</value>
            </setting>
            <setting name="dummycontent3_2" serializeAs="String">
                <value>귀여운</value>
            </setting>
            <setting name="dummycontent3_3" serializeAs="String">
                <value>씹덕같은</value>
            </setting>
            <setting name="dummycontent3_4" serializeAs="String">
                <value>행복한</value>
            </setting>
            <setting name="dummycontent3_5" serializeAs="String">
                <value>세기말</value>
            </setting>
            <setting name="HappyHome" serializeAs="String">
                <value />
            </setting>
            <setting name="TopCategory01" serializeAs="String">
                <value>동시 수록 곡</value>
            </setting>
            <setting name="TopCategory02" serializeAs="String">
                <value>변속 곡</value>
            </setting>
            <setting name="TopCategory03" serializeAs="String">
                <value>솔직히 뭐적어야할지몰라서대충채워놨음</value>
            </setting>
            <setting name="TopCategory04" serializeAs="String">
                <value>바꿔서 쓰세요</value>
            </setting>
            <setting name="TopCategory05" serializeAs="String">
                <value>바꿔서 쓰세요</value>
            </setting>
            <setting name="TopCategory06" serializeAs="String">
                <value>바꿔서 쓰세요</value>
            </setting>
            <setting name="TestColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AlphaNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ConsoNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TopNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BottomNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Randomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoldenFix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BotCategory04" serializeAs="String">
                <value> 이(가) BGA에 나오는 곡</value>
            </setting>
            <setting name="BotCategory05" serializeAs="String">
                <value> 느낌이 나는 곡</value>
            </setting>
            <setting name="BotCategory06" serializeAs="String">
                <value> 로 된 보컬 언어 곡</value>
            </setting>
            <setting name="GoldenNum" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BackCurrentColor" serializeAs="String">
                <value>0,255,100</value>
            </setting>
            <setting name="AlphaNum2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ConsoNum2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TopNum2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BottomNum2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GoldenNum2" serializeAs="String">
                <value>8</value>
            </setting>
        </RhythmMonopoly.Properties.Settings>
    </userSettings>
</configuration>