<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RhythmMonopoly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RhythmMonopoly.Properties.Settings>
            <setting name="BotCategory01" serializeAs="String">
                <value>하위 포함 더미</value>
            </setting>
            <setting name="BotCategory02" serializeAs="String">
                <value>하위 포함 더미</value>
            </setting>
            <setting name="BotCategory03" serializeAs="String">
                <value>하위 포함 더미</value>
            </setting>
            <setting name="feelcontent1" serializeAs="String">
                <value>귀여운 </value>
            </setting>
            <setting name="feelcontent2" serializeAs="String">
                <value>웅장한 </value>
            </setting>
            <setting name="feelcontent3" serializeAs="String">
                <value>빠른 </value>
            </setting>
            <setting name="feelcontent4" serializeAs="String">
                <value>무서운 </value>
            </setting>
            <setting name="feelcontent5" serializeAs="String">
                <value>초고속 </value>
            </setting>
            <setting name="bgacontent1" serializeAs="String">
                <value>동물</value>
            </setting>
            <setting name="bgacontent2" serializeAs="String">
                <value>식물</value>
            </setting>
            <setting name="bgacontent3" serializeAs="String">
                <value>보석</value>
            </setting>
            <setting name="bgacontent4" serializeAs="String">
                <value>곤충</value>
            </setting>
            <setting name="bgacontent5" serializeAs="String">
                <value>사람</value>
            </setting>
            <setting name="languagecontent1" serializeAs="String">
                <value>영어</value>
            </setting>
            <setting name="languagecontent2" serializeAs="String">
                <value>일본어</value>
            </setting>
            <setting name="languagecontent3" serializeAs="String">
                <value>한국어</value>
            </setting>
            <setting name="dummycontent1_1" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent1_2" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent1_3" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent2_1" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent2_2" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent2_3" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent2_4" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent3_1" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent3_2" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent3_3" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent3_4" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="dummycontent3_5" serializeAs="String">
                <value>더미</value>
            </setting>
            <setting name="HappyHome" serializeAs="String">
                <value />
            </setting>
            <setting name="TopCategory01" serializeAs="String">
                <value>동시 수록 곡</value>
            </setting>
            <setting name="TopCategory02" serializeAs="String">
                <value>전자 음 많은 노래</value>
            </setting>
            <setting name="TopCategory03" serializeAs="String">
                <value>나나히라</value>
            </setting>
            <setting name="TopCategory04" serializeAs="String">
                <value>아침 알람으로 쓸 곡</value>
            </setting>
            <setting name="TopCategory05" serializeAs="String">
                <value>뭐적지</value>
            </setting>
            <setting name="TopCategory06" serializeAs="String">
                <value>몰루</value>
            </setting>
            <setting name="TestColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AlphaNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ConsoNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TopNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BotNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Randomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoldenFix" serializeAs="String">
                <value>True</value>
            </setting>
        </RhythmMonopoly.Properties.Settings>
    </userSettings>
</configuration>